<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animalia.animalclassification.animalclassificationservice.dao.mapper.AnimalClassificationPhylumMapper">
    <resultMap id="BaseResultMap" type="com.animalia.animalclassification.animalclassificationservice.entity.AnimalClassificationPhylum">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="kingdom_id" property="kingdomId" jdbcType="INTEGER"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, description, kingdom_id, level, path
    </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM Animal_Classification_Phylum
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM Animal_Classification_Phylum
    </select>
    <insert id="insert" parameterType="com.animalia.animalclassification.animalclassificationservice.entity.AnimalClassificationPhylum">
        INSERT INTO Animal_Classification_Phylum (id, name, description, kingdom_id, level, path)
        VALUES (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{kingdomId,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR})
    </insert>
    <update id="update" parameterType="com.animalia.animalclassification.animalclassificationservice.entity.AnimalClassificationPhylum">
        UPDATE Animal_Classification_Phylum
        SET id = #{id,jdbcType=INTEGER},
            name = #{name,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            kingdom_id = #{kingdomId,jdbcType=INTEGER},
            level = #{level,jdbcType=INTEGER},
            path = #{path,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM Animal_Classification_Phylum
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>
