<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animalia.animalclassification.animalclassificationservice.dao.mapper.AnimalClassificationSpeciesValueMapper">

        <resultMap id="animalClassificationSpeciesValueResultMap" type="com.animalia.animalclassification.animalclassificationservice.entity.AnimalClassificationSpeciesValue">
            <id property="id" column="id"/>
            <result property="attributeId" column="attribute_id"/>
            <result property="valueId" column="value_id"/>
        </resultMap>

<!--    AnimalClassificationSpeciesValue selectById(Integer id);-->
<!--    AnimalClassificationSpeciesValue selectByattributeId(Integer attributeId);-->
<!--    int insert(AnimalClassificationSpeciesValue animalClassificationSpeciesValue);-->
<!--    Integer update(AnimalClassificationSpeciesValue animalClassificationSpeciesValue);-->
<!--    Integer delete(AnimalClassificationSpeciesValue animalClassificationSpeciesValue);-->
<!--    List<AnimalClassificationSpeciesValue> selectAll(); -->

    <select id="selectById" resultMap="animalClassificationSpeciesValueResultMap">
        SELECT * FROM animal_classification_species_value WHERE id = #{id}
    </select>

    <select id="getAnimalClassificationSpeciesValueByAttributeId" resultMap="animalClassificationSpeciesValueResultMap">
        SELECT * FROM animal_classification_species_value WHERE attribute_id = #{attributeId}
    </select>

    <insert id="insert" parameterType="com.animalia.animalclassification.animalclassificationservice.entity.AnimalClassificationSpeciesValue">
        INSERT INTO animal_classification_species_value (attribute_id, value_id)
        VALUES (#{attributeId}, #{valueId})
    </insert>

    <update id="update" parameterType="com.animalia.animalclassification.animalclassificationservice.entity.AnimalClassificationSpeciesValue">
        UPDATE animal_classification_species_value
        SET attribute_id = #{attributeId}, value_id = #{valueId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="com.animalia.animalclassification.animalclassificationservice.entity.AnimalClassificationSpeciesValue">
        DELETE FROM animal_classification_species_value WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="animalClassificationSpeciesValueResultMap">
        SELECT * FROM animal_classification_species_value
    </select>



</mapper>